<section class="hero is-info is-fullheight is-bold">
  <div class="container">
    <mat-card class="info-panel">
      <mat-card-header>
        <mat-icon style="width: 50px; height:30px" svgIcon="app-icon"></mat-icon>
        <h1>Welcome</h1>
      </mat-card-header>
      <mat-card-content>
        <p>Start using this app for free now!
          No credit card required.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button  color="accent" (click)="login()"><mat-icon>login</mat-icon>Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>

