.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  background-image: url('../../assets/images/backgrounds/endless-constellation.svg') !important;
  background-size: cover;
  background-position: center center;
}
.info-panel{
  margin-top: -200px;
  background-color: white;
  color: black;
  max-width: 250px;
}
