
mat-sidenav-content {
  background-color: white;
  color: #1c1c1c;
  display: flex;
  flex-direction: column;
}
.mark-down{
  padding: 2vh 5vh 5vh;
}

mat-nav-list{
  padding-bottom: 35px;
}
mat-sidenav-container {
  background-color: white !important;
  height: 85vh;

}

